<?xml version="1.0" encoding="utf-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
http://www.springframework.org/schema/beans 
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
http://www.springframework.org/schema/context 
http://www.springframework.org/schema/context/spring-context-3.0.xsd
http://www.springframework.org/schema/aop 
http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
http://www.springframework.org/schema/tx 
http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx">
	<!-- *******************配置spring对shiro层的管理 start******************* -->


	<bean id="cacheManager" class="org.apache.shiro.cache.ehcache.EhCacheManager" />



	<bean id="jdbcRealm" class="com.shtm.manage.realm.JDBCRealm">
	</bean>

	<bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
		<!-- 单realm应用。如果有多个realm，使用‘realms’属性代替 -->
		<property name="realm" ref="jdbcRealm" />
		<property name="cacheManager" ref="cacheManager" />
	</bean>







	<bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
		<property name="securityManager" ref="securityManager" />
		<!-- 未登录,拒绝访问页面 -->
		<property name="loginUrl" value="/admins/login.action" />
		<!-- 登录成功 -->
		<property name="successUrl" value="/admins/loginSuccess.action" />
		<!-- <property name="unauthorizedUrl" value="/login/unauthorized" /> -->
		<property name="filterChainDefinitions">
			<value>
				/admins/login.action = authc
				/manage/view/**.jsp = anon
				/manage/view/users_manage.jsp = authc
			</value>
		</property>
	</bean>



	<!-- *******************配置spring对shiro层的管理 end******************* -->
</beans>
