<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shtm.manage.mapper.CustomRolesMapper">
	
	
	
	<sql id="selectRolesConditions">
		<where>
			1=1
			<if test="name !=null">
				and name like '%${name}%'
			</if>
			<if test="status !=null">
				and status = #{status}
			</if>
			and STATUS !=-1
		</where>
	</sql>
	
	
	
	<select id="selectRolesDatagrid" parameterType="com.shtm.manage.po.RolesReceiver" resultType="com.shtm.manage.po.RolesReplier">
		select r1.*
		from
		(
			SELECT r0.*,rownum as n
			FROM
			(
				SELECT *
				FROM ROLES
				<include refid="selectRolesConditions"></include>
				ORDER BY ${sort} ${order}
			) r0
			WHERE rownum &lt;=#{end}
		) r1
		where r1.n &gt;= #{start}
		
		
	</select>
	<select id="selectRolesNum" parameterType="com.shtm.manage.po.RolesReceiver"
		resultType="int">
		SELECT count(*)
		FROM roles 
		<include refid="selectRolesConditions"></include>
		
	</select>
	
	
	
	<!-- 获取指定id的role的permisssions(所有的permisssions也会被全部查询出来,但是role拥有的permisssions有特殊标记); -->
	<select id="selectRolePermissionsById" parameterType="com.shtm.manage.po.AdminsReceiver" resultType="com.shtm.manage.po.PermissionsReplier">
		
		
		
		SELECT P1.id,p1.text,p1.code,P0.granttime
		  FROM PERMISSIONS P1,
		  (
		    SELECT p.ID,rp.GRANTTIME
		    FROM PERMISSIONS p,ROLES_PERMISSIONS rp
		    WHERE p.ID = rp.PERMISSION(+) AND rp.role = #{id}
		  ) P0
		 WHERE P1.ID = P0.id(+) and p1.type='p' AND p1.STATUS != -1
		<if test="order != null and sort != null">
			ORDER BY ${sort} ${order}
		 </if>
		
		
		
	</select>
	
	
</mapper>