<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shtm.manage.mapper.CustomRegionMapper">
	
	<select id="selectRegionByPid" parameterType="int" resultType="com.shtm.po.Region">
		select *
		from region
		where region.pid = #{pid}
	
	</select>
	
	
</mapper>