
#editAdminTable{
	width:70%;
	margin-left: 15%;
}

#editAdminTable{
	border-spacing: 10px;
}





#insertAdminTable{
	width:70%;
	margin-left: 15%;
}
#insertAdminTable{
	border-spacing: 10px;
}







