
#editClazzTable{
	width:70%;
	margin-left: 15%;
}

#editClazzTable{
	border-spacing: 10px;
}





#insertClazzTable{
	width:70%;
	margin-left: 15%;
}
#insertClazzTable{
	border-spacing: 10px;
}







