
#editGoodTable{
	width:70%;
	margin-left: 15%;
}

#editGoodTable{
	border-spacing: 3px;
}
#editGoodTable td:nth-child(1){
	width:30%;
}



/* #insertGoodTable{
	width:70%;
	margin-left: 15%;
}
#insertGoodTable{
	border-spacing: 10px;
}
 */









