<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shtm.mapper.RolesMapper">
  <resultMap id="BaseResultMap" type="com.shtm.po.Roles">
    <id column="ID" jdbcType="CHAR" property="id" />
    <result column="NAME" jdbcType="CHAR" property="name" />
    <result column="STATUS" jdbcType="SMALLINT" property="status" />
    <result column="DESCRIPTION" jdbcType="CHAR" property="description" />
    <result column="STATICC" jdbcType="SMALLINT" property="staticc" />
    <result column="CREATETIME" jdbcType="TIMESTAMP" property="createtime" />
    <result column="CREATOR" jdbcType="CHAR" property="creator" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, NAME, STATUS, DESCRIPTION, STATICC, CREATETIME, CREATOR
  </sql>
  <select id="selectByExample" parameterType="com.shtm.po.RolesExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from SHT.ROLES
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from SHT.ROLES
    where ID = #{id,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from SHT.ROLES
    where ID = #{id,jdbcType=CHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.shtm.po.RolesExample">
    delete from SHT.ROLES
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.shtm.po.Roles">
    insert into SHT.ROLES (ID, NAME, STATUS, 
      DESCRIPTION, STATICC, CREATETIME, 
      CREATOR)
    values (#{id,jdbcType=CHAR}, #{name,jdbcType=CHAR}, #{status,jdbcType=SMALLINT}, 
      #{description,jdbcType=CHAR}, #{staticc,jdbcType=SMALLINT}, #{createtime,jdbcType=TIMESTAMP}, 
      #{creator,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.shtm.po.Roles">
    insert into SHT.ROLES
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="name != null">
        NAME,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="description != null">
        DESCRIPTION,
      </if>
      <if test="staticc != null">
        STATICC,
      </if>
      <if test="createtime != null">
        CREATETIME,
      </if>
      <if test="creator != null">
        CREATOR,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=CHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=CHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=SMALLINT},
      </if>
      <if test="description != null">
        #{description,jdbcType=CHAR},
      </if>
      <if test="staticc != null">
        #{staticc,jdbcType=SMALLINT},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.shtm.po.RolesExample" resultType="java.lang.Long">
    select count(*) from SHT.ROLES
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update SHT.ROLES
    <set>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=CHAR},
      </if>
      <if test="record.name != null">
        NAME = #{record.name,jdbcType=CHAR},
      </if>
      <if test="record.status != null">
        STATUS = #{record.status,jdbcType=SMALLINT},
      </if>
      <if test="record.description != null">
        DESCRIPTION = #{record.description,jdbcType=CHAR},
      </if>
      <if test="record.staticc != null">
        STATICC = #{record.staticc,jdbcType=SMALLINT},
      </if>
      <if test="record.createtime != null">
        CREATETIME = #{record.createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.creator != null">
        CREATOR = #{record.creator,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update SHT.ROLES
    set ID = #{record.id,jdbcType=CHAR},
      NAME = #{record.name,jdbcType=CHAR},
      STATUS = #{record.status,jdbcType=SMALLINT},
      DESCRIPTION = #{record.description,jdbcType=CHAR},
      STATICC = #{record.staticc,jdbcType=SMALLINT},
      CREATETIME = #{record.createtime,jdbcType=TIMESTAMP},
      CREATOR = #{record.creator,jdbcType=CHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.shtm.po.Roles">
    update SHT.ROLES
    <set>
      <if test="name != null">
        NAME = #{name,jdbcType=CHAR},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=SMALLINT},
      </if>
      <if test="description != null">
        DESCRIPTION = #{description,jdbcType=CHAR},
      </if>
      <if test="staticc != null">
        STATICC = #{staticc,jdbcType=SMALLINT},
      </if>
      <if test="createtime != null">
        CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null">
        CREATOR = #{creator,jdbcType=CHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shtm.po.Roles">
    update SHT.ROLES
    set NAME = #{name,jdbcType=CHAR},
      STATUS = #{status,jdbcType=SMALLINT},
      DESCRIPTION = #{description,jdbcType=CHAR},
      STATICC = #{staticc,jdbcType=SMALLINT},
      CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      CREATOR = #{creator,jdbcType=CHAR}
    where ID = #{id,jdbcType=CHAR}
  </update>
</mapper>